.header {

    .header-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 114px 0 114px;
        background-color: $color-blue;

        @include xl-lg {
            padding: 0 74px 0 74px;
        }

        @include lg-md {
            padding: 0 34px 0 34px;
        }

        @include md-sm {
            height: 35px;
            padding: 0 24px 0 24px;
        }

        @include sm-xs {
            height: 37px;
            padding: 0 10px 0 10px;
        }

        &__info {
            display: flex;
            align-items: center;
            padding: 9px 0 9px 0;

            @include md-sm {
                padding: 0;
            }

            @include sm-xs {
                padding: 0;
            }
            
            .logo {
                display: flex;

                .logo-icon {
                    height: 30px;

                    @include md-sm {
                        display: none;
                    }

                    @include sm-xs {
                        display: none;
                    }
                }

                .logo-text {
                    padding: 0 12px 0 12px;
                    font-size: 22px;
                    line-height: 1.2;
                    color: $color-white;
                    font-family: RobotoRegular;
                    font-style: italic;
                    font-weight: bold;

                    @include xl-lg {
                        padding: 0 10px 0 9px;
                        font-size: 20px;
                    }

                    @include lg-md {
                        display: none;
                    }

                    @include md-sm {
                        display: none;
                    }

                    @include sm-xs {
                        display: none;
                    }
                }
            }

            .description { 
                display: flex;
                align-items: center;

                .logo-icon {

                    @include lg-md {
                        height: 25px;
                        width: 2px;
                        padding-left: 6px;
                    }

                    @include md-sm {
                        display: none;
                    }

                    @include sm-xs {
                        display: none;
                    }
                }

                .logo-text {
                    padding-left: 10px;
                    font-size: 14px;
                    line-height: 1.2;
                    color: $color-white;
                    font-family: RobotoRegular;
                    font-weight: bold;
                    text-transform: uppercase;

                    @include xl-lg {
                        padding-left: 8px;
                        font-size: 12px;
                    }

                    @include lg-md {
                        padding-left: 6px;
                        font-size: 12px;
                    }

                    @include md-sm {
                        padding-left: 4px;
                        font-size: 10px;
                    }

                    @include sm-xs {
                        font-size: 8px;
                    }
                }
            }
        }

        &__links {
            display: flex;

            .link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 30px;
                transition: 0.5s;

                @include xl-lg {
                    margin-left: 25px;
                }

                @include lg-md {
                    margin-left: 15px;
                }

                @include md-sm {
                    margin-left: 10px;
                }

                @include sm-xs {
                    margin-left: 3px;
                }

                .link-icon {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include xl-lg {
                        height: 20px;
                        width: 25px;
                    }

                    @include lg-md {
                        height: 18px;
                        width: 23px;
                    }

                    @include md-sm {
                        height: 15px;
                        width: 20px
                    }

                    @include sm-xs {
                        height: 15px;
                        width: 20px
                    } 
                }

                .link-iconFirst {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include xl-lg {
                        height: 20px;
                        width: 25px;
                    }

                    @include lg-md {
                        height: 18px;
                        width: 23px;
                    }

                    @include md-sm {
                        height: 15px;
                        width: 20px
                    }

                    @include sm-xs {
                        height: 15px;
                        width: 20px
                    }
                }

                .link-iconSecond {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include xl-lg {
                        height: 20px;
                        width: 25px;
                    }

                    @include lg-md {
                        height: 18px;
                        width: 23px;
                    }

                    @include md-sm {
                        height: 15px;
                        width: 20px
                    }

                    @include sm-xs {
                        height: 15px;
                        width: 20px
                    }
                }
    
                .link-text {
                    font-size: 17px;
                    color: $color-white;
                    font-family: Gotham;
                    line-height: 1.2;
                    font-weight: bold; 
                    text-decoration: none;

                    @include xl-lg {
                        font-size: 13px;
                    }

                    @include lg-md {
                        font-size: 12px;
                    }

                    @include md-sm {
                        font-size: 10px;
                    }

                    @include sm-xs {
                        width: 32px;
                        font-size: 8px;
                    }
                }
            } 

            .link:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    .header-logo {
        display: flex;
        position: relative;
        height: 490px;
        background-image: url(../../assets/img/screen-shot.png);

        @include xl-lg {
            height: 450px;
        }

        @include lg-md {
            height: 350px;
        }

        @include md-sm {
            height: 290px;
        }

        @include sm-xs {
            height: 250px;
        }

        &__image {
            position: absolute;
            left: 408px;
            top: 100px;

            @include xl-lg {
                left: 270px;
            }

            @include lg-md {
                top: 35px;
                left: 150px;
            }

            @include md-sm {
                height: 250px;
                width: 170px;
                top: 20px;
                left: 120px;
            }

            @include sm-xs {
                height: 180px;
                width: 110px;
                top: 40px;
                left: 70px;
            }
        }

        &__name {
            position: absolute;
            height: 100px;
            width: 500px;
            top: 145px;
            left: 478px;

            @include xl-lg {
                left: 340px;
            }

            @include lg-md {
                top: 80px;
                left: 220px;
            }

            @include md-sm {
                height: 80px;
                width: 350px;
                top: 60px;
                left: 175px; 
            }

            @include sm-xs {
                height: 60px;
                width: 210px;
                top: 70px;
                left: 106px;
            }
        }
    }
}