.header {

    .header-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 50px;
        padding: 0 114px 0 114px;
        background-color: $color-blue;

        @include lg-md {
            padding: 0 74px 0 74px;
        }

        @include md-sm {
            padding: 0 34px 0 34px;
        }

        &__info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            padding: 9px 0 9px 0;
            
            .logo {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                .logo-icon {
                    height: 30px;
                }

                .logo-text {
                    padding: 0 12px 0 12px;
                    font-size: 22px;
                    line-height: 1.2;
                    color: $color-white;
                    font-family: RobotoRegular;
                    font-style: italic;
                    font-weight: bold;

                    @include lg-md {
                        padding: 0 10px 0 9px;
                        font-size: 20px;
                    }

                    @include md-sm {
                        padding: 0 8px 0 6px;
                    }
                }
            }

            .description {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;

                .logo-text {
                    padding-left: 10px;
                    font-size: 14px;
                    line-height: 1.2;
                    color: $color-white;
                    font-family: RobotoRegular;
                    font-weight: bold;
                    text-transform: uppercase;

                    @include lg-md {
                        padding-left: 8px;
                        font-size: 12px;
                    }

                    @include md-sm {
                        padding-left: 6px;
                        font-size: 12px;
                    }
                }
            }
        }

        &__links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            @include md-sm {
                width: 290px;
            }

            .link {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 30px;
                -webkit-transition: 0.3s;
                transition: 0.3s;

                @include lg-md {
                    margin-left: 25px;
                }

                @include md-sm {
                    margin-left: 15px;
                }

                .link-icon {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include lg-md {
                        height: 20px;
                        width: 25px;
                    }

                    @include md-sm {
                        height: 18px;
                        width: 23px;
                    }
                }

                .link-iconFirst {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include lg-md {
                        height: 20px;
                        width: 25px;
                    }

                    @include md-sm {
                        height: 18px;
                        width: 23px;
                    }
                }

                .link-iconSecond {
                    height: 25px;
                    width: 30px;
                    padding-right: 5px;

                    @include lg-md {
                        height: 20px;
                        width: 25px;
                    }

                    @include md-sm {
                        height: 18px;
                        width: 23px;
                    }
                }
    
                .link-text {
                    font-size: 17px;
                    color: $color-white;
                    font-family: Gotham;
                    line-height: 1.2;
                    font-weight: bold; 
                    text-decoration: none;

                    @include lg-md {
                        font-size: 13px;
                    }

                    @include md-sm {
                        font-size: 12px;
                    }
                }
            } 

            .link:hover {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                cursor: pointer;
                z-index: 1000;
            }
        }
    }

    .header-logo {
        display: flex;
        position: relative;
        height: 490px;
        background-image: url(../../assets/img/screen-shot.png);

        @include lg-md {
            height: 450px;
        }

        @include md-sm {
            height: 350px;
        }

        &__image {
            position: absolute;
            left: 408px;
            top: 100px;

            @include lg-md {
                left: 270px;
            }

            @include md-sm {
                top: 35px;
                left: 160px;
            }
        }

        &__name {
            position: absolute;
            height: 100px;
            width: 500px;
            top: 145px;
            left: 478px;
            background-image: url(../../assets/img/kaboodle-logo.png);
            background-repeat: no-repeat;

            @include lg-md {
                left: 340px;
            }

            @include md-sm {
                top: 80px;
                left: 230px;
            }
        }
    }
}