$color-blue: #389EF2;
$color-gray-white: #4D5255;
$color-gray: #19232A;
$color-black: #010B13;
$color-white: #FFFFFF;
  
@font-face {
    font-family: Proxima Nova Regular;
    src: url("file:///D:/Andrei/vocter_test_task/assets/fonts/FontsFree_Net_Proxima_Nova_Bold.otf") format("opentype");
}

@font-face {
    font-family: Gotham;
    src: url("file:///D:/Andrei/vocter_test_task/assets/fonts/Gotham_Bold.otf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("file:///D:/Andrei/vocter_test_task/assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family: RobotoRegular;
    src: url("file:///D:/Andrei/vocter_test_task/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("file:///D:/Andrei/vocter_test_task/assets/fonts/Roboto_Condensed/RobotoCondensed-italic.ttf") format("truetype");
}