$color-blue: #389EF2;
$color-gray-white: #4D5255;
$color-gray: #19232A;
$color-black: #010B13;
$color-white: #FFFFFF;

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
  
@font-face {
    font-family: Proxima Nova Regular;
    src: url("../../assets/fonts/FontsFree_Net_Proxima_Nova_Bold.otf") format("opentype");
}

@font-face {
    font-family: Gotham;
    src: url("../../assets/fonts/Gotham_Bold.otf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}


